_site/feed.xml
_site/index.html
_site/jekyll-theme-dinky.gemspec
_site/robots.txt
_site/sitemap.xml
_site/thumbnail.png
_site/about/index.html
_site/another-page/index.html
_site/assets/css/style.css
_site/assets/images/arrow-down.png
_site/assets/images/octocat-small.png
_site/assets/js/scale.fix.js
_site/script/bootstrap
_site/script/cibuild
_site/script/release
_site/script/validate-html
